<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<footer th:fragment="defaultFooter" class="bd-footer py-4 py-md-5 mt-5 bg-light">
		<div class="container py-4 py-md-5 px-4 px-md-3">
			<div class="row">
				<div class="col-lg-3 mb-3">
					<a
						class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none"
						href="/" aria-label="Spring Boot"><span class="fs-5">Spring Boot</span>
					</a>
					<ul class="list-unstyled small text-muted">
						<li class="mb-2">Spring Boot 웹개발자 과정 5주 과정</li>
						<li class="mb-2">v1.0.0</li>
					</ul>
				</div>
				<div class="col-6 col-lg-2 offset-lg-1 mb-3">
					<h5>Open Source</h5>
					<ul class="list-unstyled">
						<li class="mb-2"><a href="https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/" target="_blank">Spring Boot</a></li>
						<li class="mb-2"><a href="https://docs.spring.io/spring-security/reference/servlet/authentication/passwords/form.html" target="_blank">Spring Security</a></li>
						<li class="mb-2"><a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html" target="_blank">Thymeleaf</a></li>
						<li class="mb-2"><a href="https://mybatis.org/mybatis-3/" target="_blank">Mybatis</a></li>
						<li class="mb-2"><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
</html>